<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" id="name" name="name" placeholder="Write your name here..." required> <br>
        <input type="text" id="username" name="username" placeholder="Write your username here..." required> <br>
        <input type="password" name="password" id="password" placeholder="write your password here..." required> <br>
        <button type="submit">register</button> <br>
      
    </form>  
    
    <a href="/">Login</a>
</body>
</html>