<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="action" method="POST">
        <input type="text" id="name" name="name" placeholder="Write your name here..." required> <br>
        <input type="text" id="username" name="username" placeholder="Write your username here..." required> <br>
        <input type="password" name="Notes" id="Notes" placeholder="write your password here..." required> <br>
        <button type="submit">register</button> <br>
        <a href="/">Login</a>
    </form>
</body>
</html>